@use 'src/styles/buttons' as *;
@use 'src/styles/extends' as *;

.topic-post {
  max-width: 768px;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20px;

  @extend %fade-in;

  &__button {
    @extend %custom-button;

    align-self: start;
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__topic-author {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 2px;
  }

  &__topic-date {
    font-size: 10px;
    line-height: 13px;
    margin-right: 10px;
    opacity: 0.5;
  }

  &__topic-title {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 8px;
  }

  &__topic-text {
    display: block;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
  }

  &__container {
    position: relative;
    background-color: $color-white;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__comment-wrapper {
    button[type='submit'] {
      margin-top: 0;
      width: 100%;
    }
  }
}
