.list-item {
    width: 100%;
    background-color: $color-white;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 12px;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.005);
      cursor: pointer;
      box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__author {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin-right: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
  
    &__message-count {
      font-size: 12px;
      line-height: 17px;
      color: $color-white;
      background-color: $color-green-main;
      padding: 5px 10px;
      border-radius: 20px;
    }
  
    &__info {
      display: flex;
      padding-bottom: 5px;
      border-bottom: 1px solid $color-border-green;
      margin-bottom: 5px;
    }
  
    &__id {
      font-size: 10px;
      line-height: 13px;
      margin-right: 10px;
      opacity: .5;
    }
  
    &__date {
        font-size: 10px;
        line-height: 13px;
        margin-right: 10px;
        opacity: .5;
    }
  
    &__name {
      display: block;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 8px;
    }
  
    &__text {
      font-size: 14px;
      line-height: 16px;
      opacity: .6;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  
