@use 'src/styles/variables' as *;
@use 'src/styles/buttons' as *;

.comment {
  transition: all 1s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  background: var(--color-comment-bg);
  border: none;

  &__info {
    display: flex;
    width: 100%;
    right: 0;
    margin-bottom: 6px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__author {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;

    &_self {
      color: var(--error-color);
    }
  }
  
  &__delete-btn {
    position: absolute;
    top: -10px;
    right: -25px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: $box-shadow;

    img {
      width: 15px;

      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }

  &__date {
    font-size: 8px;
    line-height: 12px;
    margin-right: 10px;
    opacity: 0.5;
  }

  &__text {
    display: block;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.6;
    width: 90%;
    overflow-wrap: break-word;
  }

  .delete-button {
    @extend %custom-button-outline;

    background-color: $color-white;
    color: $color-danger;
    border: 1px solid $color-danger;
    padding: 7px 16px;

    &:hover {
      color: $color-danger;
      background-color: rgba($color-danger, 0.2);
      border: 1px solid $color-danger;
      cursor: pointer;
    }

    &:active {
      color: $color-danger !important;
      background-color: rgba($color-danger, 0.2) !important;
      border: 1px solid $color-danger !important;
      cursor: pointer;
    }
  }

  .close-button {
    @extend %custom-button-outline;

    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-black;
    padding: 7px 16px;

    &:hover {
      color: $color-black;
      background-color: rgba($color-black, 0.2);
      border: 1px solid $color-black;
      cursor: pointer;
    }

    &:active {
      color: $color-black !important;
      background-color: rgba($color-black, 0.2) !important;
      border: 1px solid $color-black !important;
      cursor: pointer;
    }
  }

  &__modal__content {
    padding: 12px 20px;

    &_text {
      margin-bottom: 10px;
    }

    &_buttons {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}
