.reactions-list {
  margin-top: 5px;
  display: flex;
  justify-content: end;

}

.comment{
  font-size: 10px;
}

.reaction-item {
  border-radius: 20px;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid $color-green-main;
  background-color: $color-light-green;
  font-family: 'Noto Color Emoji', sans-serif;
  color: $color-black;

  &:hover {
    background-color: $color-hover-emoji;
  }
}

.active-reaction {
  background-color: $color-active-emoji;
}

.reaction-popup {
  position: absolute;
  right: -230px;
  bottom: 0;
  background: $color-white;
  border-radius: 8px;
  box-shadow: -7px 5px 20px -1px rgb(0 0 0 / 25%);
  padding: 8px;
  display: flex;
  gap: 8px;
  z-index: 1000;
}

.reaction-popup::before {
  content: '';
  position: absolute;
  left: -19px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent $color-white transparent transparent;
}

.reaction-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  font-family: 'Noto Color Emoji', sans-serif;
}

.reaction-button:hover {
  transform: scale(1.1);
}
