@use 'fonts';
@use 'variables';

body {
  background: linear-gradient(#5f5454, transparent 1px),
    linear-gradient(90deg, #5f5454, transparent 1px);
  background-size: 36px 36px;
  background-position: center center;
}

* {
  font-family: 'Otomanopee One', Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: $color-black-custom;
  box-sizing: border-box;
}
