@use 'fonts';

body {
  background-image: linear-gradient(to right, $app-cell-color 1px, transparent 1px),
    linear-gradient(to bottom, $app-cell-color 1px, transparent 1px);
  background-size: $app-cell-size $app-cell-size;
  color: $color-black;
}

* {
  font-family: 'Otomanopee One', Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
