:root {
  --primary-color: #3498db;
}

$text-color-grayish-blue: #66686b;
$color-medium-grey: #999fb7;
$text-color-disabled: #6c757d;
$color-green-main: #196d3c;
$color-green-main-hover: #259252;
$color-danger: #c70000;
$color-border-green: rgb(25 109 60 / 50%);
$color-box-shadow-green: rgb(25 109 60 / 25%);
$color-overlay-black: rgb(0 0 0 / 50%);
$color-white: #fff;
$background-color-disabled: #e9ecef;
$grid-line-color: #5f5454;
