.form-container {
  width: 436px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 436px;
  margin: 0 auto;
  padding: 40px 48px;
  border: 1px solid #dde6ed;
  border-radius: 12px;
  background-color: #fdfdfd;
}
