@use 'src/styles/formPage' as *;
@use 'src/styles/buttons' as *;

.registration-page {
  @extend %page-with-form;

  .form-container {
    @extend %form-container;

    .back-button {
      @extend %custom-button-outline;

      margin-top: 12px;
      min-width: max-content;
      width: 60%;
    }
  }
}
